.content {
  &__header {
    position: sticky !important;
    top: 0;
    box-shadow: 1px 1px 5px transparent;
    transition: all ease 300ms;

    &.active {
      box-shadow: 1px 1px 5px #1F1F1F;
    }
  }
}
