.navbar {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  &__item {
    display: flex;
    gap: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: inherit;
    transition: all ease-in-out 300ms;
    
    &:hover {
      color: #C0EDF2;
    }

    &:active {
      color: #4BF0FC;
    }

  }

}